<!doctype html>
<html lang="en">
<head>
    <!-- Source: https://github.com/pure-css/pure/blob/master/site/static/layouts/marketing/index.html -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Take home project landing page.">
    <title>Turo Take Home Project Landing Page &ndash; &ndash;</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Erics Take Home Project</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/page1" class="pure-menu-link">Page1</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Erics Take Home Project for Turo</h1>
        <p class="splash-subhead">
            Config map value: {{ display }}
        </p>

        <p class="splash-subhead">
            Requests served by current process: {{ counter }}
        </p>
        <p>
            <a href="http://www.turo.com" class="pure-button pure-button-primary">Turo</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">A random subheading</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Find your drive
                </h3>
                <p>

                </p>
            </div>

        </div>
    </div>


    <div class="footer l-box is-center">
        Made with love by the <a href="www.purecss.io">Pure CSS Team</a>.
    </div>

</div>

</body>
</html>
